{
  "ignore": ["docs"],
  "linters": {
    "*.js": ["npx eslint --fix", "npx prettier --write", "git add"],
    "*.scss": ["npx stylelint --fix", "npx prettier --write", "git add"],
    "{,.}*{rc,.json}": ["npx prettier --write", "git add"]
  }
}
