{
  "bracketSpacing": false,
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": [
        ".babelrc",
        ".lintstagedrc",
        ".postcssrc",
        ".prettierrc",
        ".sassrc"
      ],
      "options": {"parser": "json"}
    }
  ]
}
