doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Synthwave name
    link(rel='stylesheet', href='scss/style.scss')
  body
    .wrapper
      ul.suggestions
    .container
      .footer
    script(src='app.js')
